<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Erlang/OTP + Rebar + RabbitMQ + ets + Python/Bottle + Forex API Tutorial</title>
        <link rel="stylesheet" href="../static/style.css" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
    
    <section class="container">

        <header class="title" style="font-size:38px;">
            Erlang/OTP + Rebar + RabbitMQ + ets + Python/Bottle + Forex API Tutorial
        </header>
        <div class="hr"></div>
        <p>
            This tutorial will demonstrate how to connect two systems - erlang based and python/bottle wsgi application via RabbitMQ message broker.
        </p>
        <p>
            Erlang/OTP basic knowledge is required. All the resources that you need are here:
            <a target="_blank" href="http://www.learnyousomeerlang.com">www.learnyousomeerlang.com</a><br />
            Python Bottle framework basic knowledge is required:
            <a target="_blank" href="http://bottlepy.org/docs/dev/index.html">http://bottlepy.org/docs/dev/index.html</a><br />
            RabbitMQ basic knowledge would come in handy
            <a target="_blank" href="https://www.rabbitmq.com/documentation.html">https://www.rabbitmq.com/documentation.html</a>
        </p>
        <p>
            Application that we'll create will retrieve data from FOREX that will be fetched by Erlang/OTP application and stored in ets.
            Python wsgi application will be responsible for data presentation.
            User will subscribe to get periodical information about certain currency, the subscription will create separate erlang process that will serve this information via message broker to frontend.
        </p>
        <div class="hr"></div>
        <p class="subtitle">
        <strong>
            <a name="#a1"></a> 1. Create Erlang/OTP application using Rebar
        </strong>
        </p>
        <p>
            Let's create Erlang/OTP application that will be responsible for fetching currency exchange data directly from FOREX.
        </p>
        <p>
            Rebar (<a href="https://github.com/basho/rebar" target="_blank">https://github.com/basho/rebar</a>) is a tool that allows to build, complile and test Erlang applications.
            We will use this tool to create our project.
        </p>
        <p>
            First clone Rebar git repo and make:
        </p>
        <code>
            git clone https://github.com/basho/rebar.git<br />
            cd rebar && make
        </code>
        <p>
            Then create a brand new project:
        </p>
        <code>
            mkdir app<br />
            cd app<br />
            cp ../rebar/rebar .<br />
            ./rebar create-app appid=forex<br />
        </code>
        <p>
            Rebar will create a bunch of files for you:<br />
            <i>forex_app.erl</i> - OTP application behaviour (ignore for now)<br />
            <i>forex.app.src</i> - OTP application configuration template (also ignore please)<br />
            <i>forex_sup.erl</i> - minimal root supervisor implementation<br />
            What’s missing is a file for our server that will be responsible for fetching data from FOREX. We want to use gen_server OTP behaviour.<br />
            Let’s ask rebar to generate one for us.<br />
        </p>
        <code>
            ./rebar create template=simplesrv srvid=forex_server
        </code>
        <p>
            We've created a scafold of a Erlang/OTP gen_server (check the: forex_server.erl)<br />
            To create the OTP folder structure use the following command from bash, alternatively rebar can create them for you. Only src and ebin are required.
        </p>
        <code>
            mkdir -p app/{doc,ebin,priv,include,src,test}
        </code>
        <p>
            Every .erl file has to be placed in a src directory.
        </p>
        <p>
            Now, let's compile and start out newly created empty application to see if everything we've done is fine so far.
        </p>
        <code>
            ./rebar compile<br />
            erl -pa ebin/<br />
            application:start(forex).<br />
        </code>
        <p>
            First we compile all .erl files using rebar, then we start erlang with <i>-pa ebin/</i> parameter that enables Erlang to use the compiled files in that directory.
            Finally we start our application named "forex".
        </p>
        <p>
            If you will see nothing but "ok" in Erlang shell we're fine and ready to proceed.
        </p>
        <div class="hr"></div>
        <p class="subtitle">
        <strong>
            <a name="#a1"></a>2. Erlang/OTP periodical worker for fetching data from FOREX
        </strong>
        <p>
            In a previous chapter we created an empty scaffold for our application using rebar (including gen_server based forex_server.erl). Now let's fill it with code.
        </p>
        <p>
            First we have to include forex server into our application by telling supervisor to start it as it's child. To do it we have to edit
            <i>init/1</i> function in <i>forex_sup.erl</i> file.
        </p>
        <code>
            -define(CHILD(I, Type), {I, {I, start_link, []}, permanent, 5000, Type, [I]}).<br />
            ...<br />
            init([]) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">{ok, { {one_for_one, 5, 10}, [?CHILD(forex_server, worker)]}}.</span>
        </code>
        <p>
            Our supervisor now will supervise forex server using strategy one_for_one. It means that if supervisor is taking care of many workers and
            one of them crashes only this one will be restarted.<br />More on supervisors and child specifications: <a href="http://learnyousomeerlang.com/supervisors" target="_blank">http://learnyousomeerlang.com/supervisors</a>.
        </p>
        <p>
            For now forex server is only empty gen_server scaffold. Let's make a periodical worker out of it that will communicatie with forex and fetch some currency data.
        </p>
        <code>
            <span class="blu">-define(SECOND, 600).<br />
            -define(MINUTE, ?SECOND * 60).<br />
            -define(HOUR, ?MINUTE * 60).<br />
            -define(INTERVAL, ?SECOND*10).</span><br />
            ...<br />
            init([]) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">erlang:send_after(?INTERVAL, self(), trigger),</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{ok, []}.<br />
            ...<br />
            handle_cast(_Msg, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{noreply, State}.<br />
            <span class="blu">handle_info(trigger, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;log(),</span><br />
            ...<br />
            <span class="blu">log() -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{{_, _,_},{Hour,Min,Sec}} = erlang:localtime(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;io:format("Getting data on ~p:~p:~p~n", [Hour,Min,Sec]).</span>
        </code>
        <p>
            There are few new code lines in forex server. We wanted it to be a periodical worker that will fetch each let's say 10 seconds.
            To achieve that we will use <i>erlang:send_after/3</i> function that will send message "trigger" to <i>self()</i> after 10 seconds.
            Every message that is sent to a gen_server directly are handled by <i>handle_info/3</i> function.<br />
            For now we will only log the information that some action might happen so we can focus on fetching currency data from forex.
        </p>
        <p>
            For sake of this tutorial we will use Oanda service to fetch currency data (<a href="http://www.oanda.com/" target="_blank">http://www.oanda.com/</a>).
        </p>
        <code>
            <span class="blu">-define(API_URL, "https://api-sandbox.oanda.com/v1/prices?instruments=EUR_USD").</span>
        </code>
        <p>
            This is an example URL for retrieving EUR to USD currency exchange data. Let's create some functions that will make this HTTP request and fetch response.
        </p>
        <code>
            init([]) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">inets:start(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ssl:start(),<br /></span>
            &nbsp;&nbsp;&nbsp;&nbsp;erlang:send_after(?INTERVAL, self(), trigger),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{ok, []}.<br />
        </code>
        <p>
            Before trying to make an API call we have to start inets application as a container for Internet clients and servers and ssl application as our calls are HTTPS.
            I decided to start those services in <i>init/1</i> function.
        </p>
        <p>
            In my prevous tutorial that you can find here: <a href="http://papaduda.pl/erlang-python" target="_blank">http://papaduda.pl/erlang-python</a>
            I explained how to make a HTTP request in Erlang. So please check there for the detais. Basically we will use this function:
        </p>
        <code>
            <span class="blu">
                make_request(URL) -><br />
                &nbsp;&nbsp;&nbsp;&nbsp;{ok, Resp} = httpc:request(get, {URL, []}, [], []),<br />
                &nbsp;&nbsp;&nbsp;&nbsp;{_, _, Body} = Resp,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Body.<br />
            </span>
        </code>
        <p>
            We wil use <i>make_request/1</i> in our periodically invoked function:
        </p>
        <code>
            handle_info(trigger, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;log(),<br />        
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">Body = make_request(?API_URL),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;io:format("~p~n", [Body]).</span><br />
        </code>
        <p>
            Let's compile and run application like in previous chapter. If everything is fine, every 10 secons in console we should see something like that:
        </p>
        <code>
            "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\" : \"2015-01-29T12:48:14.747084Z\",\n\t\t\t\"bid\" : 1.24089,\n\t\t\t\"ask\" : 1.24101\n\t\t}\n\t]\n}"
        </code>
        <p>
            It's a JSON with enters and tabs... To parse it in a proper way we will need mochijson2 package that can be downloaded here:<br />
            <a href="https://github.com/mochi/mochiweb/blob/master/src/mochijson2.erl" target="_blank">https://github.com/mochi/mochiweb/blob/master/src/mochijson2.erl</a>.
            Please put in in your <i>src</i> directory and use it like that:
        </p>
        <code>
            handle_info(trigger, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;log(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Body = make_request(?API_URL),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">Struct = mochijson:decode(Body),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;io:format("~p~n", [Struct]),</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">erlang:send_after(?INTERVAL, self(), trigger),</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{noreply, State};<br />
        </code>
        <p>
            Updated method users mochijson2 to decode JSON that is in <i>Body</i> variable nad prints it to a console. Then send "trigger" message to <i>self()</i> after 10 seconds.
            Output in a console will look like that:
        </p>
        <code>
            {struct,[{"prices",<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{array,[{struct,[{"instrument","EUR_USD"},<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{"time","2015-01-29T12:57:58.049629Z"},<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{"bid",1.24058},<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{"ask",1.2407}]}]}}]}
        </code>
        <p>
            Yes, a proper Erlang struct. Here we have all information we need. It appears that on 2015-01-29 at 12:57:58 UTF the EUR to USD exchange rate
            was around 1.24. It's in a "bid" fileld. Let's extract only this number.
        </p>
        <p>
            As we know how exaclty the structure looks like and we're sure that it will be returned by Oanda API in exacly the same way all the time,
            we can use power of patternmatching to extract all the data we need. Let's take it step by step.
        </p>
        <code>
            handle_info(trigger, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;log(),<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;Body = make_request(?API_URL),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Struct = mochijson:decode(Body),<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">{struct, PricesArray} = Struct,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;PricesDict = lists:nth(1, PricesArray),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{"prices", {array, [InstrumentStruct]}} = PricesDict,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{struct, [{_,_}, {_, Time}, {_, Bid}, {_,_}]} = InstrumentStruct,<br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;io:format("EUR/USD ~p ~p~n", [Time, Bid]),</span><br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;erlang:send_after(?INTERVAL, self(), trigger),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{noreply, State};
        </code>
        <p>
            With patternmatching first we extract mail one element array (<i>lists:nth/2</i>). Then we extract another stucture and finally we
            pattermatch what's left to get <i>Time</i> and <i>Bid</i>.<br />
            There's of course a lots of different ways to get those data but I wanted to show you how powerfull is patternmatching.
        </p>
        <div class="hr"></div>
        <p class="subtitle">
        <strong>
            <a name="#a1"></a>3. Storing results of API call in ets
        </strong>
        <p>
        <p>
            ETS is the Erlang table storage system, which provides hash-based data storage and access functions. These functions run in constant time. ETS data is stored in a process as long as it is running.
        </p>
        <p>
            <i>ets:new/2</i> will create new ets table. First argument is a name of our table, second is an array of options (we don't care about it now).
            Let's initialize ets table in <i>init/1</i> function:
        </p>
        <code>
            init([]) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;inets:start(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ssl:start(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">Tid = ets:new('forex', []),</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;erlang:send_after(?INTERVAL, self(), trigger),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">{ok, Tid}.</span>
        </code>
        <p>
            So new forex ets table is created. Function <i>ets:new/2</i> returns a table identifier <i>Tid</i> which can be used in subsequent operations.
            We will return in <i>init/1</i> function this identifier so it will be propagated in all gen_server functions as a <i>State</i>.
            Elements stored in ets table are touples {Key, Value}.
        </p>
        <p>
            We will need two helper functions - one to get data from ets and one to upsert, so insert if not exists otherwise update.
        </p>
        <code>
            ets_select(Tid, Key) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;case ets:lookup(Tid, Key) of<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[] -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[];<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{_, Val}] -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Val;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;end.<br />
            <br />
            ets_upsert(Tid, Key, Value) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;case ets_select(Tid, Key) of<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[] -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;true = ets:insert(Tid, {Key, Value});<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;true = ets:delete(Tid, Key),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;true = ets:insert(Tid, {Key, Value})<br />
            &nbsp;&nbsp;&nbsp;&nbsp;end.<br />
        </code>
        <p>
            <i>ets_select/2</i> will look for a value bound to a <i>Key</i>. If it doesn't exist it will return <i>not_exists</i> atom.
            Otherwise it will return a value by patternmatch it to [{Key, Value}].
        </p>
        <p>
            <i>ets_upsert/3</i> will check if there's a value bound to key <i>Key</i> in ets table. If not it will insert a new row,
            otherwise it will delete the entry and insert a new one.
        </p>
        <p>
            To use it we need to make a slight change in <i>handle_info/2</i> callback:
        </p>
        <code>
            handle_info(trigger, <span class="blu">Tid</span>) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;...<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{struct, [{_,_}, {_, _}, {_, Bid}, {_,_}]} = InstrumentStruct,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">ets_upsert(Tid, {"eur_usd", Bid}),</span><br />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;erlang:send_after(?INTERVAL, self(), trigger),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{noreply, <span class="blu">Tid</span>};
        </code>
        <p>
            <i>State</i> variable name is changed to <i>Tid</i> to be more consistent in naming. There's a one line added that will upsert
            current currency exchange rate to ets table.
        </p>
        <p>
            Now we need some kind of a public function to ask for a current rate of EUR/USD. We need a synchronous call for that.
        </p>
        <code>
            -export([start_link/0, <span class="blu">get_rates/1</span>]).<br />
            ...<br />
            <span class="blu">get_rates(Currencies) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;gen_server:call(?SERVER, {get_rate, Currencies}).</span><br />
            ...<br />
            <span class="blu">handle_call({get_rate, Currencies}, _From, Tid) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;Val = ets_select(Tid, Currencies),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, Val, Tid};</span><br />
            handle_call(_Request, _From, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, ok, State}.
        </code>
        <p>
            In API Function Exports sections we need to export out brand new function that will be an interface for geting the currency rate from the ets
            and serving it publicly.
        </p>
        <p>
            The <i>get_rates/1</i> will send asynchronous call to gen_server, which will be handled in <i>handle_call/2</i> where we ask for a data from
            ets and returns it.
        </p>
        <p>
            Please compile and run your application now, wait a few minutes and ask for a currency rate for EUR/USD:
        </p>
        <code>
            ./rebar compile<br />
            erl -pa ebin/<br />
            application:start(forex).<br />
            forex_server:get_rates("eur_usd").
        </code>
        <div class="hr"></div>
        <p class="subtitle">
        <strong>
            <a name="#a1"></a>4. Erlang processes as subscribed users.
        </strong>
        <p>
        <p>
            Previously I mentioned that users will be able to subscribe from a web application to our service and get currency rate that interests them. A representation of that
            will be an erlang process for each subscribtion. Supervision tree would look lika that:<br />
            [grafika supervisiona.]<br />
            There's a main supervisor we wrote that starts forex server and another supervisor that will start subscription processes on demand. To achieve that
            our second supervisor has to have a different restart strategy - simple_one_for_one, a simplified one_for_one where all child processes
            are dynamically added instances of the same process.
        </p>
        <p>
            First out main supervisor (<i>forex_sup.erl</i>) have to lounch another superivsor that will take care of dynamically created processes that will represent subscriptions.
            Let's edit the init function:
        </p>
        <code>
            init([]) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{ok, { {one_for_one, 5, 10}, [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?CHILD(forex_server, worker),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="blu">
            {subscriber_sup, {subscriber_sup, start_link, []}, permanent, 2000, supervisor, []}</span><br />
            ]}}.
        </code>
        <p>
            In the list of a processes that supervisor starts we added another supervisor - <i>subscriber_sup</i> that can be found in <i>subscriber_sup</i> module
            and will be lounched using <i>start_link</i> method without any parameters. Notice that this is not worker - it's explicity said that it's a supervisor.
        </p>
        <p>
            Module <i>subscriber_sup</i> doesn't exist yet. Let's create one:
        </p>
        <code>
            -module(subscriber_sup).<br />
            -behaviour(supervisor).<br />
            <br />
            %% API<br />
            -export([start_link/0]).<br />
            -export([subscribe/2]).<br />
            <br />
            %% Supervisor callbacks<br />
            -export([init/1]).<br />
            <br />
            -define(CHILD(I, Type), {I, {I, start_link, []}, permanent, 5000, Type, [I]}).<br />
            <br />
            %%%===================================================================<br />
            %%% API functions<br />
            %%%===================================================================<br />
            start_link() -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;supervisor:start_link({local, ?MODULE}, ?MODULE, []).<br />
            <br />
            subscribe(Id, Name, Currencies) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;supervisor:start_child(?MODULE, [Id, Name, Currencies]).<br />
            <br />
            %%%===================================================================<br />
            %%% Supervisor callbacks<br />
            %%%===================================================================<br />
            init([]) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{ok, {{simple_one_for_one, 5, 10},<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[?CHILD(user_server, worker)]}}.<br />
        </code>
        <p>
            Let's focus on API functions and callbacks as the rest of the code should not raise doubts.<br />
            <i>start_link/0</i> function launches the supervisor<br />
            <i>subscribe/3</i> will dynamically start a new process that is defined in child section of <i>init/2</i> function in callbacks section.
            It takes three parameters - some kind of an a unique <i>Id</i> that will define user (we'll figure it out later how to set the Id) a <i>Name</i> as a user's name
            and <i>Currencies</i> that interests this user.
        </p>
        <p>
            Dynamically started processes will be <i>user_server</i>(s).
            Their job will just be reaching to ets storage for a currency exchange value that a user will subscribe to and returns it to our main server.
            So <i>user_server</i> will be yet another gen_server. At this point you should generate code scaffold that for this behaviour by yourself.
        </p>
        <p>
            Let's go back to our main server now (<i>forex_server.erl</i>). We will widen it's responsibility to two things: taking care of subscribing users and getting data for a given subscription.<br />
            First, we'll take care of subscribing users:
        </p>
        <code>
            -export([start_link/0, get_rates/1, <span class="blu">subscribe/2</span>]).<br />
            ...<br />
            <span class="blu">
            subscribe(Name, Currencies) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;gen_server:call(?SERVER, {subscribe, Name, Currencies}).<br /></span>
            ...<br />
            handle_call({get_rate, Currencies}, _From, Tid) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;Val = ets_select(Tid, Currencies),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, Val, Tid};<br />
            <span class="blu">
            handle_call({subscribe, Name, Currencies}, _From, Tid) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;Id = get_user_hash(Name),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{ok, Pid} = subscriber_sup:subscribe(Id, Name, Currencies),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;io:format("Subscribing ~p to ~p with Pid: ~p~n", [Name, Currencies, Pid]),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, ok, Tid};<br /></span>
            handle_call(_Request, _From, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, ok, State}.<br />
            ...<br />
            <span class="blu">
            get_user_hash(Name) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{{_, _,_},{Hour,Min,Sec}} = erlang:localtime(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Base = integer_to_list(Hour+Min+Sec) ++ Name,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;crypto:hash(md5, Base).
            </span>
        </code>
        <p>
            First, we export newly created function <i>subscribe/2</i>, then we define this API function. It will take 2 parameters: name of the user and a string that defines currencies (e.g. "eur_usd").
            Then in gen_server Function Definitions we'll handle this call. Previously I mentioned that we'll need an unique id that will somehow define user. It will be helpful if we'd want to store this user somewhere.
            This id is generated by concatenating sum of current hour, minutes and seconds with a name and comptes md5 out of it.
        </p>
        <p>
            Next we subscribe user. At this point it means that a new process will be dynamically created by <i>subscriber_sup:subscribe/2</i> function and print out some message in console inluding Pid of a new process.
        </p>
        <p>
            Ok, now's time to edit <i>user_server.erl</i>. This gen_server represents any subscribed user created by <i>subscriber_sub</i>. At this point we will add just one simple function (<i>get_details/1</i>) that will return name and currencies of subscribed user for test purposes.
        </p>
        <code>
            -export([start_link/3, <span class="blu">get_details/1</span>]).<br />
            ...<br />
            <span class="blu">
            start_link(Id, Name, Currencies) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;gen_server:start_link(?MODULE, [Id, Name, Currencies], []).<br />
            get_details(Pid) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;gen_server:call(Pid, {get_details}).<br />
            ...<br />
            </span>
            <span class="blu">
            handle_call({get_details}, _From, {Id, Name, Currencies}) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, {ok, Name, Currencies}, {Id, Name, Currencies}};<br />
            </span>
            handle_call(_Request, _From, State) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, ok, State}.<br />
        </code>
        
        
        <p>
            Let's test it and check out the supervision three. Compile code and run Erlang:
        </p>
        <code>
            $ ./rebar compile<br />
            $ erl -pa ebin/<br />
        </code>
        <p>
            Start application, launch application monitor:
        </p>
        <code>
            1> application:start(forex).<br />
            2> appmon:start().<br />
        </code>
        <p>
            You will see a bunch of applications that are currently running. Click on our and check out the supervision tree. We have a main supervisor
            <i>forex_sup</i> and it's children - the main server <i>forex_server</i> and another supervisor that is responsible for creating <i>user_server</i>
            processes that supervises nothing now.
        </p>
        <p>
            Let's subscribe a user then:
        </p>
        <code>
            3> {ok, Pid1} = forex_server:subscribe("Alan", "eur_usd").<br />
            4> {ok, Pid2} = forex_server:subscribe("Rick", "eur_usd").<br />
            5> user_server:get_details(Pid1).
        </code>
        <p>
            Each subscribe call will return unique id of new <i>user_server</i> process. This will allow us to communicate with particular user's process like
            you see above. <i>get_details/1</i> will take just one param - Pid to and it will return user's name and subscribed currencies.
        </p>
        <p>
            We need one more function in <i>forex_server</i> - a function that will return a value per subscription. For a given Pid it will query ets
            and return a currency rate for subscribed user.
        </p>
        <code>
            <span class="blu">-export([start_link/0, get_rates/1, subscribe/2, get_rate_for_pid/1]).</span><br />
            ...<br />
            subscribe(Name, Currencies) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;gen_server:call(?SERVER, {subscribe, Name, Currencies}).<br />
            <br />
            <span class="blu">get_rate_for_pid(Pid) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;gen_server:call(?SERVER, {get_for_pid, Pid}).</span><br />
            <br />
            get_rates(Currencies) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;gen_server:call(?SERVER, {get_rate, Currencies}).<br />
            ...<br />
        </code>
        <p>
            We created a new function <i>get_rate_for_pid/1</i> that takes one parameter - a process id of a subscribed user. It will be a synchronous call to a gen_server.
            Of course, we also export this function.
        </p>
        <p>
            The handler for <i>get_rate_for_pid/1</i> will look like that:
        </p>
        <code>
            handle_call({get_rate_for_pid, Pid}, _From, Tid) -><br />
            &nbsp;&nbsp;&nbsp;&nbsp;{ok, Name, Currencies} = user_server:get_details(Pid),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ExchangeRate = ets_select(Tid, Currencies),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;{reply, {ExchangeRate}, Tid};<br />
        </code>
        <p>
            First we ask for a details, then with the currencies we have we reach to ets to fetch it and return. This way the Erlang part of the application is ready.
            We are able to subscribe as a user to a service and ask for a current exchange rate for a given currency. Under the hood there's a process
            that will keep the exchange rates up to date.
        </p>
        <div class="hr"></div>
        <p class="subtitle">
        <strong>
            <a name="#a1"></a>5. Installing and running RabbitMQ
        </strong>
        <p>
        <div class="hr"></div>
    </section>
    <br /><br /><br /><br />
    </body>
</html>
